@model ProjektniZadatak.Models.Osoba
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Osoba", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.OsobaId)

    <div class="wrapper">
        <header class="main-header">
            <a href="/Osoba/Index" class="logo">
                <span class="logo-mini"><b>P</b>C</span>
                <span class="logo-lg"><b>Projektni</b>Centar</span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="header">Upravljanje profilom</li>
                    <li>

                        <a href="@($"/UpravljanjeNalogom/Details/{@User.Identity.GetUserId()}")">
                            <i class="fa fa-user"></i> <span>Moj profil</span>
                        </a>
                    </li>
                    <li class="header">Upravljanje korisnicima</li>
                    <li>
                        <a href="/Osoba/Index">
                            <i class="fa fa-table"></i> <span>Korisnici</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Korisnik/Index">
                            <i class="fa fa-table"></i> <span>Administratori</span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Podaci korisnika
                    <small>detalji</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="/Osoba/Index"><input type="button" class="btn btn-info" value="Nazad na listu korisnika"></a>
                    </li>
                </ol>
            </section>
            <br>
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Izmena osnovnih podataka</h3>
                            </div>
                            <form>
                                <div class="box-body">
                                    @if (Model.Fotografija != null)
                                    {
                                        <img class="profile-user-img img-responsive img-circle" src="data:image;base64,@System.Convert.ToBase64String(Model.Fotografija)" alt="User profile picture">
                                        <p>Izaberite novu fotografiju</p><input type="file" id="Fotografija" name="upload" />
                                    }
                                    else
                                    {
                                        if (Model.Pol.NazivPola == "Zenski")
                                        {
                                            <img class="profile-user-img img-responsive img-circle" src="~/Content/Female.jpg" alt="User profile picture">
                                            <p>Izaberite novu fotografiju</p><input type="file" id="Fotografija" name="upload" />
                                        }
                                        else
                                        {
                                            <img class="profile-user-img img-responsive img-circle" src="~/Content/Male.jpg" alt="User profile picture">
                                            <p>Izaberite novu fotografiju</p><input type="file" id="Fotografija" name="upload" />
                                        }
                                    }
                                    <h3 class="profile-username text-center">@Model.Ime @Model.Prezime</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ime">Ime</label>
                                                @Html.EditorFor(model => model.Ime, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                            <div class="form-group">
                                                <label for="prezime">Prezime</label>
                                                @Html.EditorFor(model => model.Prezime, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                            <div class="form-group">
                                                <label for="imeRoditelja">Ime Roditelja</label>
                                                @Html.EditorFor(model => model.ImeRoditelja, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                            <div class="form-group">
                                                <label for="brLicneKarte">Pol</label>
                                                @Html.DropDownList("PolId", null, htmlAttributes: new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                <label for="datumRodj">Datum Rođenja</label>
                                                @Html.EditorFor(model => model.DatumRodjenja, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="opstinaRodj">Mesto rodjenja</label>
                                                @Html.DropDownList("GradRodjenjaId", null, htmlAttributes: new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                <label for="opstinaRodj">Opstina rođenja</label>
                                                @Html.DropDownList("OpstinaRodjenjaId", null, htmlAttributes: new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                <label for="jmbg">JMBG</label>
                                                @Html.EditorFor(model => model.JMBG, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                            <div class="form-group">
                                                <label for="brLicneKarte">Broj Licne Karte</label>
                                                @Html.EditorFor(model => model.BrojLicneKarte, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                            <div class="form-group">
                                                <label for="datumRodj">Beleška</label>
                                                @Html.EditorFor(model => model.Beleska, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <input type="submit" value="Potvrdi izmene" class="btn btn-success" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}