@model ProjektniZadatak.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)

    <div class="wrapper">
        <header class="main-header">
            <a href="/Osoba/Index" class="logo">
                <span class="logo-mini"><b>P</b>C</span>
                <span class="logo-lg"><b>Projektni</b>Centar</span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="header">Upravljanje profilom</li>
                    <li>
                        <a href="tabela.html">
                            <i class="fa fa-user"></i> <span>Moj profil</span>
                        </a>
                    </li>
                    <li class="header">Upravljanje korisnicima</li>
                    <li>
                        <a href="/Osoba/Index">
                            <i class="fa fa-table"></i> <span>Korisnici</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Korisnik/Index">
                            <i class="fa fa-table"></i> <span>Administratori</span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Podaci korisnika
                    <small>detalji</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="/Korisnik/Edit/@ViewBag.KorisnikId"><input type="button" class="btn btn-info" value="Nazad na profil"></a>


                    </li>
                </ol>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Resetovanje lozinke</h3>
                            </div>
                            <form>

                                <div class="box-body">
                                    @if (ViewBag.Fotografija != null)
                                    {
                                        <img class="profile-user-img img-responsive img-circle" src="data:image;base64,@System.Convert.ToBase64String(ViewBag.Fotografija)" alt="User profile picture">
                                    }
                                    <h3 class="profile-username text-center">@ViewBag.ImePrezime </h3>
                                    <div class="col-sm-12">
                                        <div class="form-group" hidden="hidden">
                                            <label for="ime">Email</label>
                                            <input class="form-control" readonly="readonly" id="Email" name="Email" type="text" value="@ViewBag.Email" />
                                        </div>
                                        <div class="form-group">
                                            <label for="prezime">Lozinka</label>
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label for="prezime">Potvrda lozinke</label>
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <input type="submit" value="Potvrdi promenu" class="btn btn-success" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}